{% extends 'users/base/base.html' %}
{% load i18n %}
{% load static %}


{% block content %}       {% comment %}
    <div class="container">
<div class="row justify-content-center form-bg-image">
<form method="POST" style="padding-bottom: 20px;" action=".">
                    {% csrf_token %}
     {% if messages %}
                                        <div class="form-group">
                                            <div class="col-12">
                                                {% for message in messages %}
                                                    {% if message.tags == "error" %}
                                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                            {{ message }}
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                    {% elif message.tags == "success" %}
                                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                            {{ message }}
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
{{ form }}


                    <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">{% trans 'Change password' %}</button>
                                </div>
                </form>
</div>
    </div>
 {% endcomment %}

        <section class="bg-soft d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <h1 class="h3 mb-4">Reset password</h1>
                            <form method="POST" action=".">
                                {% csrf_token %}
                            {% if messages %}
                                        <div class="form-group">
                                            <div class="col-12">
                                                {% for message in messages %}
                                                    {% if message.tags == "error" %}
                                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                            {{ message }}
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                    {% elif message.tags == "success" %}
                                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                            {{ message }}
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                               {% for field in form %}
                                <div class="row mb-4">
                                    <div class="col-lg-4 col-sm-6">
                                       <span class="text-danger">{{ field.errors }}</span>
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="col-lg-4 col-sm-6">

                                        {{ field }}
                                    </div>
                                </div>

                            {% endfor %}
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">{% trans 'Change password' %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

