{% extends 'users/base/base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Edytuj Święto' %}
{% endblock %}

{% block content %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">

    <form class="form-floating"  action="" method="POST" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% comment %} Display Messages {% endcomment %}
                    {% if messages %}
                          <div class="form-group">
                              <div class="col-12">
                                  {% for message in messages %}
                                      {% if message.tags == "error" %}
                                          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                              {{ message }}
                                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                          </div>
                                      {% elif message.tags == "success" %}
                                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                                              {{ message }}
                                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                          </div>
                                      {% endif %}
                                  {% endfor %}
                              </div>
                          </div>
                      {% endif %}

                        <div class="card-body">
                            {% comment %} Adding Form with All inputs Here{% endcomment %}
                            {% for field in form %}
                                <div class="row mb-4">
                                    <div class="col-lg-4 col-sm-6">
                                   
                                       <span class="text-danger">{{ field.errors }}</span>
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="col-lg-4 col-sm-6">

                                        {{ field }}
                                    </div>
                                </div>

                            {% endfor %}
                            <button type="submit" class="btn btn-outline-success">{% trans 'Zatwierdź' %}</button>
                        </div>
                </form>


    </div>

{% endblock %}