{% load static %}
{% comment %}{% endcomment %}
<!-- jQuery -->
<script type="application/javascript" src="{% static 'assets/js/jquery3_6_0.min.js' %}"></script>
<script type="application/javascript" src="{% static 'assets/vendor/jquery-timepicker-1.3.5/jquery.timepicker.js' %}"></script>
<script type="application/javascript" src="{% static 'assets/vendor/jquery-ui-1_12_1/jquery-ui.js' %}"></script>

<script type="application/javascript" src="{% static 'assets/vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<!-- Core <script type="application/javascript" src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>-->
<script type="application/javascript" src="{% static 'assets/vendor/bootstrap-5.1.1-dist/js/bootstrap.min.js' %}"></script>
<!-- Sweet Alerts 2-->
<script src="{% static 'assets/vendor/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
<!-- Notyf-->
<script src="{% static 'assets/vendor/notyf/notyf.min.js' %}"></script>
<!-- Simplebar-->
<script src="{% static 'assets/vendor/simplebar/dist/simplebar.min.js' %}"></script>
<!-- Github buttons -->
<script src="{% static 'assets/js/buttons.js' %}"></script>
<!-- Volt JS-->
<script src="{% static 'assets/js/volt.js' %}"></script>
<!-- Smooth scroll-->
<script src="{% static 'assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

